// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.warning{
  --ion-color-primary: #9e9e10;
}

.toastdark{
  --width: 90%;
  --max-width: 90%;
  --min-width: 90%;
  --border-color: green;
  --border-style: solid;
  --border-width: 1px;
}

.card-power-breakdown-exp{
  font-size: 11px;
  color: #ccc;
  cursor: pointer;
  &:hover{
    text-decoration: underline;
    color: #fff;
  }
}

.wordwrap{
  overflow-x: auto;
}

.al{
  color: red;
}

.txs{
  background-color: purple;
  color: yellow;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 6px;
}

.card-power-breakdown{
  .itemc{
    font-size: 10px;
    text-align: center!important;
    padding-bottom: 8px;
  }
}

.wallet_n_blockchain_state{
  position: fixed;
  bottom: 4px;
  left: 4px;
  padding: 4px;
  background-color: rgba(220,220,220,0.75);
  border: 2px solid black;
  border-radius: 6px;
  font-size: 11px;
  cursor: pointer;;
  &:hover{
    border-color: #b50089;
    background-color: white;
  }
  color: #222;
  b{
    color: #000;
  }
}

@keyframes rainbow{
  
  0%{color: white; border-color: white; text-shadow: 0px 1px 0px blue; }	
  20%{color: blue; border-color: blue; text-shadow: 0px 1px 0px #ff00eb; }	
  50%{color: #ff00eb; border-color: #ff00eb; text-shadow: 0px 1px 0px yellow; }	
  80%{color: yellow; border-color: yellow; text-shadow: 0px 1px 0px white; }
  100%{color: white; border-color: white; text-shadow: 0px 1px 0px blue; }	
  
}

.excile{
  display: inline;
  //background-color: #333;
  border-radius: 4px;
  animation: rainbow 10s infinite; 
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}

.flame{
  --background: rgb(250,220,220);
  i{
    color: red;
    font-weight: bold;
  }
}

.excile-but{
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline-block;
  border-style: solid;
  border-width: 3px;
  padding: 6px;
  cursor: pointer;
  &:hover{
    background-color: rgba(220,220,220,0.35);
  }
}

:root{

  ion-toolbar{
    
    --border-color: #b50089;
    --border-width: 0px 0px 2px 0px;
    --background: #111;
    
  }

  ion-tab-bar{
    
    --background: #111;
    --border: 2px solid #b50089;
    
  }

  ion-tab-button{
    
    --background: transparent;
    --background-focused: black;
    --ripple-color: #fff;
    --color: #ff00ff;
    --color-selected: yellow;
    
  }

  ion-content{
    
    --background: #000 url('./assets/bakcground.jpg') no-repeat center center / cover;
    
  }

  ion-button, .button{
    
    --background: #000 url('./assets/bakcground.jpg') no-repeat top center / cover;
    --background-activated: #000 url('./assets/bakcground.jpg') no-repeat center center / cover;
    --background-focused: #000 url('./assets/bakcground.jpg') no-repeat bottom center / cover;
    
    --color: white;
    --color-activated: yellow;
    --color-focused: blue;
    
    --box-shadow: 0px 2px 2px 0px black; 
    
  }
  
  .sc-ion-card-md-h{
  
    background: rgba(255,255,255,0.8);
    border: 2px solid white;
    
  }
  
}

.curl{
  background-color: black;
}