<ion-header>
  <ion-toolbar>
    <ion-title color="light">
      Galaxy
    </ion-title>
    <ion-buttons slot="end">
      <ion-input color="warning" placeholder="x" [(ngModel)]="cy" maxlength=4 min=-999 max=999 size=2 type=number></ion-input>
      <ion-input color="warning" placeholder="y" [(ngModel)]="cx" maxlength=4 min=-999 max=999 size=2 type=number></ion-input>
      <ion-button fill="solid" (click)="jumpTo()">
        <ion-icon slot="start" name="share-alt"></ion-icon> Jump
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <div class="galaxy">
    
    <ion-grid class="starts">
      <ion-row *ngFor="let row of items">
        <ion-col *ngFor="let col of items">
          <div class="sector" routerLink="/app/galaxy/view/{{col+1-5+(y*8)}}/{{row+1-5+(x*8)}}" class="{{ (dataArray[row*9+col]!==null && dataArray[row*9+col]>=0)?'explored':'nonExplored' }}">
            
            Sector<br/>
            [{{col+1-5+(y*8)}}:{{row+1-5+(x*8)}}]<br/>
            <br/>
            <u *ngIf="(dataArray[row*9+col]>0)">discovered <b>{{dataArray[row*9+col]}}</b> planets</u>
            
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </div>

  <!-- HORIZONTAL -->

  <ion-fab vertical="center" horizontal="start" slot="fixed">
    <ion-fab-button color="warning" (click)="navigate(-1,0)" [disabled]="!canNav">
      <ion-icon name="arrow-dropleft"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button color="warning" (click)="navigate(1,0)" [disabled]="!canNav">
      <ion-icon name="arrow-dropright"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- VERTICAL -->

  <ion-fab vertical="top" horizontal="center" slot="fixed">
    <ion-fab-button color="warning" (click)="navigate(0,-1)" [disabled]="!canNav">
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="warning" (click)="navigate(0,1)" [disabled]="!canNav">
      <ion-icon name="arrow-dropdown"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>