<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/app/galaxy"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Sector [{{x}}:{{y}}]</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" (click)="updateView()">
        <ion-icon slot="start" name="refresh-circle"></ion-icon> Resresh Sector State
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  

  
  <div class="local">
    <!--
    <div id="no_renderer" class="no-render">
      <canvas class="cis" id="planetFocus0"></canvas>
      <canvas class="cis" id="planetFocus1"></canvas>
      <canvas class="cis" id="planetFocus2"></canvas>
      <canvas class="cis" id="planetFocus3"></canvas>
      <canvas class="cis" id="planetFocus4"></canvas>
      <canvas class="cis" id="planetFocus5"></canvas>
      <canvas class="cis" id="planetFocus6"></canvas>
    </div>
    -->

    
    <div class="solar-system">
      <div class="sun"></div>
      <div *ngFor="let planet of items" class="ring ring{{planet}} ringRarity{{(dataArray[planet])?dataArray[planet].vRarityRate:0}}" [ngClass]="{'hover': hover==planet, 'lock': lock==planet}" (mouseenter) ="mouseEnter(planet)"  (mouseleave) ="mouseLeave(planet)" (click)="mouseClick(planet)">
        <div class="row">
          <div class="planet">
            <canvas class="cis" id="c{{planet}}" width="60" height="60"></canvas>
          </div>
        </div>
      </div>
    </div>
    
    <div class="planet-moto">
      <div class="desc">MOTO</div> 
      <ion-button fill="solid" size="small" color="success" expand="block" (click)="this.rootApp.setSectorMoto(x, y)">
        <ion-icon slot="start" name="information-circle"></ion-icon> Set Sector Moto
      </ion-button>
      <!--
      <ion-button fill="solid" size="small" color="success" expand="block" (click)="this.rootApp.setGalaxyEmperor(x, y)">
        <ion-icon slot="start" name="compass"></ion-icon> Became Galaxy Emperor
      </ion-button>
      -->
    </div>
    
    <div class="planet-chat">

      <ion-grid>
        <ion-row>
          <ion-col>
            
            <ion-item *ngFor="let item of messages | async">
              <ion-label text-wrap>
                <ion-text color="warning" class="click" (click)="rootApp.view_owner(item.address)">
                  {{rootApp.display_nickname(item.address)}}
                </ion-text>
                <ion-text color="light">
                  {{item.message}}
                </ion-text>
              </ion-label>
            </ion-item>
            
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input placeholder="[Sector {{x}}:{{y}}] Enter your message..." color="light" [(ngModel)]="rootApp.chat_message"></ion-input>
          </ion-col>  
          <ion-col size="3">
            <ion-button fill="solid" size="small" color="success" expand="block" (click)="rootApp.sendMessage(x + ':' + y, rootApp.chat_message)">
              <ion-icon slot="start" name="send"></ion-icon> Send
            </ion-button>
          </ion-col>  
        </ion-row>
      </ion-grid>
      
    </div>
    
    <div class="planet-list">
      <div *ngFor="let planet of items?.reverse(); index as i;" class="ringRarity{{(dataArray[planet])?dataArray[planet].vRarityRate:0}}" [ngClass]="{'hover': hover==planet, 'lock': lock==planet}" (mouseenter) ="mouseEnter(planet)"  (mouseleave) ="mouseLeave(planet)" (click)="mouseClick(planet)">
        {{i+1}}. {{(dataArray[planet])?dataArray[planet].Name:'- free -'}}
      </div>
    </div>
    
    <div [hidden]="!(this.hover!=-1||this.lock>-1)" class="planet-card cardRarity{{(planet_focus)?planet_focus.vRarityRate:-1}} cardlock{{lock}}">
      
      <table class="heared-card">
        <tr>
          <td align="left">
            <ion-icon class="close" name="close-circle" (click)="this.lock=-1" [hidden]="this.lock==-1" ></ion-icon>
          </td>
          <td align="right">
            <b *ngIf="!planet_focus">FREE SPACE <span *ngIf="lock!==-1">[{{x}}:{{y}}:{{7-lock}}]</span></b>
            <b *ngIf="planet_focus" title="Card Power: {{planet_focus.vRarityAbsolute}}%">
              <span *ngIf="planet_focus.vRarityRate==0">Common</span>
              <span *ngIf="planet_focus.vRarityRate==1">Rare</span>
              <span *ngIf="planet_focus.vRarityRate==2">Legendary</span>
              <span *ngIf="planet_focus.vRarityRate==3">EPIC</span>
            </b>  
          </td>
        </tr>
      </table>

      <div id="planet_renderer" class="render_{{(lock>=0 && planet_focus)?lock:((planet_focus)?hover:-1)}}">
        <canvas class="cis" id="planetFocus0"></canvas>
        <canvas class="cis" id="planetFocus1"></canvas>
        <canvas class="cis" id="planetFocus2"></canvas>
        <canvas class="cis" id="planetFocus3"></canvas>
        <canvas class="cis" id="planetFocus4"></canvas>
        <canvas class="cis" id="planetFocus5"></canvas>
        <canvas class="cis" id="planetFocus6"></canvas>
      </div>
      
      <br/>
      
      <div *ngIf="planet_focus">
        
        <b>{{planet_focus.Name}}</b><br/>
        <span class="owned-by" title="{{planet_focus.Owner}}">owned by <u class="owner" (click)="rootApp.view_owner(planet_focus.Owner)">{{rootApp.display_nickname(planet_focus.Owner)}}</u></span>
        <br/>
        <br/>
        <div class="desc" [innerHTML]="planet_focus.Moto">
          ...
        </div>
        <br/>
      </div>
      
      <ion-button fill="solid" size="large" color="warning" *ngIf="planet_focus && !planet_focus.Owned && planet_focus.OnSale" expand="block" (click)="rebuy(lock)">
        <ion-icon slot="start" name="cart"></ion-icon> Buy Card (X DERO)
      </ion-button>
      
      <ion-button fill="solid" size="large" color="success" *ngIf="!planet_focus" expand="block" (click)="colonize(lock)">
        <ion-icon slot="start" name="rocket"></ion-icon> Colonize Slot ({{this.rootApp.onChain_value(this.rootApp.settings_laoded.variable_colonize_fee)}} DERO)
      </ion-button>
      
      <ion-button fill="solid" size="small" color="success" *ngIf="planet_focus && planet_focus.Owned" expand="block" (click)="this.rootApp.editPlanet()">
        <ion-icon slot="start" name="color-wand"></ion-icon> Change Description
      </ion-button>

      <ion-button fill="solid" size="small" color="tertiary" *ngIf="planet_focus && planet_focus.Owned" expand="block" (click)="this.rootApp.enchant_card(planet_focus.planet_position)">
        <ion-icon slot="start" name="flask"></ion-icon> Enchance Card
      </ion-button>

      <ion-button fill="solid" size="small" color="warning" *ngIf="planet_focus && planet_focus.Owned" expand="block" (click)="this.rootApp.editPlanet()">
        <ion-icon slot="start" name="wallet"></ion-icon> Put On Sell
      </ion-button>
        
    </div>
    
  </div>
  
  <div *ngFor="let planet of items">
    <div *ngIf="(dataArray[planet] && dataArray[planet].vRarityRate>=0)" class="planet_tip tip_{{planet}} rarity_{{dataArray[planet].vRarityRate}}">
      {{(dataArray[planet])?dataArray[planet].Name:'- free -'}}
    </div>
  </div>
  
</ion-content>
