<ion-header>
  <ion-toolbar>
    <ion-title color="light">Info Center</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="faq-box">
    <b>Getting Started: Web Version & No Additional Browser Extensions</b>
    <p>1</p>
  </div>

  <div class="faq-box">
    <b>Getting Started: Web Version & Chrome Extensions</b>
    <p>1</p>
  </div>
  
  <div class="faq-box">
    <b>Getting Started: Standalone Electron App</b>
    <p>1</p>
  </div>
  
  <br/>
  
  <div class="faq-box">
    <b>Authorization <i>onchain</i></b>
    <p>1</p>
  </div>
  
  <div class="faq-box">
    <b>Setting Your Personal Alias / Nickname <i>onchain</i></b>
    <p>1</p>
  </div>
  
  <div class="faq-box">
    <b>Chatting <u>offchain</u></b>
    <p>1</p>
  </div>
  
  <div class="faq-box">
    <b>Refreshing Game Status</b>
    <p>1</p>
  </div>
  
  <br/>
  
  <div class="faq-box">
    <b>Galaxy Exploration</b>
    <p>1</p>
  </div>

  <div class="faq-box">
    <b>Sector Exploration</b>
    <p>1</p>
  </div>

  <div class="faq-box">
    <b>Sector Set Moto <i>onchain</i></b>
    <p>1</p>
  </div>

  <div class="faq-box">
    <b>Planet Colonization <i>onchain</i></b>
    <p>1</p>
  </div>

  <br/>
  
  <div class="faq-box">
    <b>Your Posessions</b>
    <p>1</p>
  </div>

  <div class="faq-box">
    <b>Planet Cards</b>
    <p><span class="excile">EXCELENT</span></p>
  </div>

  <div class="faq-box">
    <b>Planet Description <i>onchain</i></b>
    <p>1</p>
  </div>

  <div class="faq-box">
    <b>Planet Enchantment <i>onchain</i></b>
    <p>1</p>
  </div>

  <div class="faq-box">
    <b>Redeeming <span class="excile">EXCELENT</span> Rewards <i>onchain</i></b>
    <p>1</p>
  </div>

  <div class="faq-box">
    <b>Planet Auction (Setting Your Planet On Sale) <i>onchain</i></b>
    <p>1</p>
  </div>

  <div class="faq-box">
    <b>Planet Auction (Buing Someone Elses Planet) <i>onchain</i></b>
    <p>1</p>
  </div>

  <br/>

  <div class="faq-box">
    <b>Supporting This Project</b>
    <p>
      Follow me on twitter: @plrspro<br/>
      <br/>
      DERO: <br/>
      BTC: 1LDEmWohUTNR5gPHtmYCBc7HfDti296qbG<br/>
    </p>
  </div>
  
  <br/>

</ion-content>
