<ion-header>
  <ion-toolbar>
    <ion-title color="light">
      Welcome Here
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" (click)="rootApp.ping_daemon()">
        <ion-icon name="refresh-circle"></ion-icon>
        Refresh Game State
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="light" class="welcome">
          <ion-card-content>
            by @plrspro
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
